<!doctype html>
<html>

<head>
    <title>Liveness Check</title>
</head>

<body>
    <h1>Video Streaming</h1>
    <img id="bwImage" width="640" height="480">
    <script type="text/javascript">
        var bwImage = document.getElementById('bwImage');

        // Send video stream to Flask server for processing
        var sendVideoStream = function () {
            var canvas = document.createElement('canvas');
            canvas.width = 640;
            canvas.height = 480;

            var video = document.createElement('video');
            video.width = 640;
            video.height = 480;
            video.autoplay = true;

            navigator.mediaDevices.getUserMedia({ video: true })
                .then(function (stream) {
                    video.srcObject = stream;
                    video.onloadedmetadata = function () {
                        canvas.getContext('2d').drawImage(video, 0, 0, canvas.width, canvas.height);
                        var frame = canvas.toDataURL('image/jpeg', 0.8);

                        fetch('/video_feed', {
                            method: 'POST',
                            body: frame
                        })
                            .then(function (response) {
                                return response.blob();
                            })
                            .then(function (blob) {
                                var url = URL.createObjectURL(blob);
                                bwImage.src = url;
                            })
                            .catch(function (error) {
                                console.log('Error sending video frame: ', error);
                            });

                        // Repeat the process for the next frame
                        requestAnimationFrame(sendVideoStream);
                    };
                })
                .catch(function (error) {
                    console.log('Error accessing camera: ', error);
                });
        };

        sendVideoStream();
    </script>
</body>

</html>
